In [3]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('Session2').getOrCreate()

23/05/25 01:38:41 WARN Utils: Your hostname, codespaces-6fb472 resolves to a loopback address: 127.0.0.1; using 172.16.5.4 instead (on interface eth0)
23/05/25 01:38:41 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/05/25 01:38:42 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [17]:
df1 = spark.read.csv('../insurance.csv',header=True,inferSchema=True)

In [11]:
df1.tail(1)

[Row(age=62, sex='female', bmi=None, children=0, smoker='yes', region='northwest', charges=None)]

Drop column from dataframe

In [18]:
df1.drop('bmi').show()

+---+------+--------+------+---------+-----------+
|age|   sex|children|smoker|   region|    charges|
+---+------+--------+------+---------+-----------+
| 19|female|       0|   yes|southwest|  16884.924|
| 18|  male|       1|    no|southeast|       null|
| 28|  male|       3|    no|southeast|   4449.462|
| 33|  male|       0|    no|northwest|21984.47061|
| 32|  male|       0|    no|     null|  3866.8552|
| 31|female|       0|    no|southeast|  3756.6216|
| 46|female|       1|    no|southeast|  8240.5896|
| 37|female|       3|    no|northwest|  7281.5056|
| 37|  male|       2|    no|northeast|  6406.4107|
| 60|female|       0|    no|northwest|28923.13692|
| 25|  male|       0|    no|northeast|  2721.3208|
| 62|female|       0|   yes|southeast| 27808.7251|
| 23|  male|       0|    no|southwest|   1826.843|
| 56|female|       0|    no|southeast| 11090.7178|
| 27|  male|       0|   yes|southeast| 39611.7577|
| 19|  male|       1|    no|southwest|   1837.237|
| 52|female|       1|    no|northeast| 10797.3362|
| 23|  male|       0|    no|northeast| 2395.17155|
| 56|  male|       0|    no|southwest|  10602.385|
| 30|  male|       0|   yes|southwest|  36837.467|
+---+------+--------+------+---------+-----------+
only showing top 20 rows

In [20]:
df1.show()

+---+------+------+--------+------+---------+-----------+
|age|   sex|   bmi|children|smoker|   region|    charges|
+---+------+------+--------+------+---------+-----------+
| 19|female|  27.9|       0|   yes|southwest|  16884.924|
| 18|  male|  null|       1|    no|southeast|       null|
| 28|  male|  33.0|       3|    no|southeast|   4449.462|
| 33|  male|22.705|       0|    no|northwest|21984.47061|
| 32|  male| 28.88|       0|    no|     null|  3866.8552|
| 31|female| 25.74|       0|    no|southeast|  3756.6216|
| 46|female| 33.44|       1|    no|southeast|  8240.5896|
| 37|female| 27.74|       3|    no|northwest|  7281.5056|
| 37|  male| 29.83|       2|    no|northeast|  6406.4107|
| 60|female| 25.84|       0|    no|northwest|28923.13692|
| 25|  male| 26.22|       0|    no|northeast|  2721.3208|
| 62|female| 26.29|       0|   yes|southeast| 27808.7251|
| 23|  male|  34.4|       0|    no|southwest|   1826.843|
| 56|female| 39.82|       0|    no|southeast| 11090.7178|
| 27|  male| 42.13|       0|   yes|southeast| 39611.7577|
| 19|  male|  24.6|       1|    no|southwest|   1837.237|
| 52|female| 30.78|       1|    no|northeast| 10797.3362|
| 23|  male|23.845|       0|    no|northeast| 2395.17155|
| 56|  male|  40.3|       0|    no|southwest|  10602.385|
| 30|  male|  35.3|       0|   yes|southwest|  36837.467|
+---+------+------+--------+------+---------+-----------+
only showing top 20 rows

In [19]:
## drop rows with null values
df1.na.drop().show()

+---+------+------+--------+------+---------+-----------+
|age|   sex|   bmi|children|smoker|   region|    charges|
+---+------+------+--------+------+---------+-----------+
| 19|female|  27.9|       0|   yes|southwest|  16884.924|
| 28|  male|  33.0|       3|    no|southeast|   4449.462|
| 33|  male|22.705|       0|    no|northwest|21984.47061|
| 31|female| 25.74|       0|    no|southeast|  3756.6216|
| 46|female| 33.44|       1|    no|southeast|  8240.5896|
| 37|female| 27.74|       3|    no|northwest|  7281.5056|
| 37|  male| 29.83|       2|    no|northeast|  6406.4107|
| 60|female| 25.84|       0|    no|northwest|28923.13692|
| 25|  male| 26.22|       0|    no|northeast|  2721.3208|
| 62|female| 26.29|       0|   yes|southeast| 27808.7251|
| 23|  male|  34.4|       0|    no|southwest|   1826.843|
| 56|female| 39.82|       0|    no|southeast| 11090.7178|
| 27|  male| 42.13|       0|   yes|southeast| 39611.7577|
| 19|  male|  24.6|       1|    no|southwest|   1837.237|
| 52|female| 30.78|       1|    no|northeast| 10797.3362|
| 23|  male|23.845|       0|    no|northeast| 2395.17155|
| 56|  male|  40.3|       0|    no|southwest|  10602.385|
| 30|  male|  35.3|       0|   yes|southwest|  36837.467|
| 60|female|36.005|       0|    no|northeast|13228.84695|
| 30|female|  32.4|       1|    no|southwest|   4149.736|
+---+------+------+--------+------+---------+-----------+
only showing top 20 rows

In [21]:
## Drop if all the row values are null
df1.na.drop(how='all').show()

+---+------+------+--------+------+---------+-----------+
|age|   sex|   bmi|children|smoker|   region|    charges|
+---+------+------+--------+------+---------+-----------+
| 19|female|  27.9|       0|   yes|southwest|  16884.924|
| 18|  male|  null|       1|    no|southeast|       null|
| 28|  male|  33.0|       3|    no|southeast|   4449.462|
| 33|  male|22.705|       0|    no|northwest|21984.47061|
| 32|  male| 28.88|       0|    no|     null|  3866.8552|
| 31|female| 25.74|       0|    no|southeast|  3756.6216|
| 46|female| 33.44|       1|    no|southeast|  8240.5896|
| 37|female| 27.74|       3|    no|northwest|  7281.5056|
| 37|  male| 29.83|       2|    no|northeast|  6406.4107|
| 60|female| 25.84|       0|    no|northwest|28923.13692|
| 25|  male| 26.22|       0|    no|northeast|  2721.3208|
| 62|female| 26.29|       0|   yes|southeast| 27808.7251|
| 23|  male|  34.4|       0|    no|southwest|   1826.843|
| 56|female| 39.82|       0|    no|southeast| 11090.7178|
| 27|  male| 42.13|       0|   yes|southeast| 39611.7577|
| 19|  male|  24.6|       1|    no|southwest|   1837.237|
| 52|female| 30.78|       1|    no|northeast| 10797.3362|
| 23|  male|23.845|       0|    no|northeast| 2395.17155|
| 56|  male|  40.3|       0|    no|southwest|  10602.385|
| 30|  male|  35.3|       0|   yes|southwest|  36837.467|
+---+------+------+--------+------+---------+-----------+
only showing top 20 rows

In [28]:
## Threshold 
df1.na.drop(how='any', thresh=6).show()

+---+------+------+--------+------+---------+-----------+
|age|   sex|   bmi|children|smoker|   region|    charges|
+---+------+------+--------+------+---------+-----------+
| 19|female|  27.9|       0|   yes|southwest|  16884.924|
| 28|  male|  33.0|       3|    no|southeast|   4449.462|
| 33|  male|22.705|       0|    no|northwest|21984.47061|
| 32|  male| 28.88|       0|    no|     null|  3866.8552|
| 31|female| 25.74|       0|    no|southeast|  3756.6216|
| 46|female| 33.44|       1|    no|southeast|  8240.5896|
| 37|female| 27.74|       3|    no|northwest|  7281.5056|
| 37|  male| 29.83|       2|    no|northeast|  6406.4107|
| 60|female| 25.84|       0|    no|northwest|28923.13692|
| 25|  male| 26.22|       0|    no|northeast|  2721.3208|
| 62|female| 26.29|       0|   yes|southeast| 27808.7251|
| 23|  male|  34.4|       0|    no|southwest|   1826.843|
| 56|female| 39.82|       0|    no|southeast| 11090.7178|
| 27|  male| 42.13|       0|   yes|southeast| 39611.7577|
| 19|  male|  24.6|       1|    no|southwest|   1837.237|
| 52|female| 30.78|       1|    no|northeast| 10797.3362|
| 23|  male|23.845|       0|    no|northeast| 2395.17155|
| 56|  male|  40.3|       0|    no|southwest|  10602.385|
| 30|  male|  35.3|       0|   yes|southwest|  36837.467|
| 60|female|36.005|       0|    no|northeast|13228.84695|
+---+------+------+--------+------+---------+-----------+
only showing top 20 rows

In [29]:
## Subset
df1.na.drop(how='any', subset=['region']).show()

+---+------+------+--------+------+---------+-----------+
|age|   sex|   bmi|children|smoker|   region|    charges|
+---+------+------+--------+------+---------+-----------+
| 19|female|  27.9|       0|   yes|southwest|  16884.924|
| 18|  male|  null|       1|    no|southeast|       null|
| 28|  male|  33.0|       3|    no|southeast|   4449.462|
| 33|  male|22.705|       0|    no|northwest|21984.47061|
| 31|female| 25.74|       0|    no|southeast|  3756.6216|
| 46|female| 33.44|       1|    no|southeast|  8240.5896|
| 37|female| 27.74|       3|    no|northwest|  7281.5056|
| 37|  male| 29.83|       2|    no|northeast|  6406.4107|
| 60|female| 25.84|       0|    no|northwest|28923.13692|
| 25|  male| 26.22|       0|    no|northeast|  2721.3208|
| 62|female| 26.29|       0|   yes|southeast| 27808.7251|
| 23|  male|  34.4|       0|    no|southwest|   1826.843|
| 56|female| 39.82|       0|    no|southeast| 11090.7178|
| 27|  male| 42.13|       0|   yes|southeast| 39611.7577|
| 19|  male|  24.6|       1|    no|southwest|   1837.237|
| 52|female| 30.78|       1|    no|northeast| 10797.3362|
| 23|  male|23.845|       0|    no|northeast| 2395.17155|
| 56|  male|  40.3|       0|    no|southwest|  10602.385|
| 30|  male|  35.3|       0|   yes|southwest|  36837.467|
| 60|female|36.005|       0|    no|northeast|13228.84695|
+---+------+------+--------+------+---------+-----------+
only showing top 20 rows

Fill in the Missing Values

In [35]:
## Will only fill in String values
df1.na.fill('Fill In').show()

+---+------+------+--------+------+---------+-----------+
|age|   sex|   bmi|children|smoker|   region|    charges|
+---+------+------+--------+------+---------+-----------+
| 19|female|  27.9|       0|   yes|southwest|  16884.924|
| 18|  male|  null|       1|    no|southeast|       null|
| 28|  male|  33.0|       3|    no|southeast|   4449.462|
| 33|  male|22.705|       0|    no|northwest|21984.47061|
| 32|  male| 28.88|       0|    no|  Fill In|  3866.8552|
| 31|female| 25.74|       0|    no|southeast|  3756.6216|
| 46|female| 33.44|       1|    no|southeast|  8240.5896|
| 37|female| 27.74|       3|    no|northwest|  7281.5056|
| 37|  male| 29.83|       2|    no|northeast|  6406.4107|
| 60|female| 25.84|       0|    no|northwest|28923.13692|
| 25|  male| 26.22|       0|    no|northeast|  2721.3208|
| 62|female| 26.29|       0|   yes|southeast| 27808.7251|
| 23|  male|  34.4|       0|    no|southwest|   1826.843|
| 56|female| 39.82|       0|    no|southeast| 11090.7178|
| 27|  male| 42.13|       0|   yes|southeast| 39611.7577|
| 19|  male|  24.6|       1|    no|southwest|   1837.237|
| 52|female| 30.78|       1|    no|northeast| 10797.3362|
| 23|  male|23.845|       0|    no|northeast| 2395.17155|
| 56|  male|  40.3|       0|    no|southwest|  10602.385|
| 30|  male|  35.3|       0|   yes|southwest|  36837.467|
+---+------+------+--------+------+---------+-----------+
only showing top 20 rows

In [37]:
df1.na.fill(0, ['bmi','charges']).show()

+---+------+------+--------+------+---------+-----------+
|age|   sex|   bmi|children|smoker|   region|    charges|
+---+------+------+--------+------+---------+-----------+
| 19|female|  27.9|       0|   yes|southwest|  16884.924|
| 18|  male|   0.0|       1|    no|southeast|        0.0|
| 28|  male|  33.0|       3|    no|southeast|   4449.462|
| 33|  male|22.705|       0|    no|northwest|21984.47061|
| 32|  male| 28.88|       0|    no|     null|  3866.8552|
| 31|female| 25.74|       0|    no|southeast|  3756.6216|
| 46|female| 33.44|       1|    no|southeast|  8240.5896|
| 37|female| 27.74|       3|    no|northwest|  7281.5056|
| 37|  male| 29.83|       2|    no|northeast|  6406.4107|
| 60|female| 25.84|       0|    no|northwest|28923.13692|
| 25|  male| 26.22|       0|    no|northeast|  2721.3208|
| 62|female| 26.29|       0|   yes|southeast| 27808.7251|
| 23|  male|  34.4|       0|    no|southwest|   1826.843|
| 56|female| 39.82|       0|    no|southeast| 11090.7178|
| 27|  male| 42.13|       0|   yes|southeast| 39611.7577|
| 19|  male|  24.6|       1|    no|southwest|   1837.237|
| 52|female| 30.78|       1|    no|northeast| 10797.3362|
| 23|  male|23.845|       0|    no|northeast| 2395.17155|
| 56|  male|  40.3|       0|    no|southwest|  10602.385|
| 30|  male|  35.3|       0|   yes|southwest|  36837.467|
+---+------+------+--------+------+---------+-----------+
only showing top 20 rows

In [38]:
df1.printSchema()

root
 |-- age: integer (nullable = true)
 |-- sex: string (nullable = true)
 |-- bmi: double (nullable = true)
 |-- children: integer (nullable = true)
 |-- smoker: string (nullable = true)
 |-- region: string (nullable = true)
 |-- charges: double (nullable = true)

In [47]:
from pyspark.ml.feature import Imputer

i = Imputer(
    inputCols=['age', 'bmi', 'children', 'charges'],
    outputCols=["{}_imputed".format(c) for c in ['age', 'bmi', 'children', 'charges']]
).setStrategy("median")

In [48]:
i.fit(df1).transform(df1).show()

+---+------+------+--------+------+---------+-----------+-----------+-----------+----------------+---------------+
|age|   sex|   bmi|children|smoker|   region|    charges|age_imputed|bmi_imputed|children_imputed|charges_imputed|
+---+------+------+--------+------+---------+-----------+-----------+-----------+----------------+---------------+
| 19|female|  27.9|       0|   yes|southwest|  16884.924|         19|       27.9|               0|      16884.924|
| 18|  male|  null|       1|    no|southeast|       null|         18|      30.36|               1|      9377.9047|
| 28|  male|  33.0|       3|    no|southeast|   4449.462|         28|       33.0|               3|       4449.462|
| 33|  male|22.705|       0|    no|northwest|21984.47061|         33|     22.705|               0|    21984.47061|
| 32|  male| 28.88|       0|    no|     null|  3866.8552|         32|      28.88|               0|      3866.8552|
| 31|female| 25.74|       0|    no|southeast|  3756.6216|         31|      25.74|               0|      3756.6216|
| 46|female| 33.44|       1|    no|southeast|  8240.5896|         46|      33.44|               1|      8240.5896|
| 37|female| 27.74|       3|    no|northwest|  7281.5056|         37|      27.74|               3|      7281.5056|
| 37|  male| 29.83|       2|    no|northeast|  6406.4107|         37|      29.83|               2|      6406.4107|
| 60|female| 25.84|       0|    no|northwest|28923.13692|         60|      25.84|               0|    28923.13692|
| 25|  male| 26.22|       0|    no|northeast|  2721.3208|         25|      26.22|               0|      2721.3208|
| 62|female| 26.29|       0|   yes|southeast| 27808.7251|         62|      26.29|               0|     27808.7251|
| 23|  male|  34.4|       0|    no|southwest|   1826.843|         23|       34.4|               0|       1826.843|
| 56|female| 39.82|       0|    no|southeast| 11090.7178|         56|      39.82|               0|     11090.7178|
| 27|  male| 42.13|       0|   yes|southeast| 39611.7577|         27|      42.13|               0|     39611.7577|
| 19|  male|  24.6|       1|    no|southwest|   1837.237|         19|       24.6|               1|       1837.237|
| 52|female| 30.78|       1|    no|northeast| 10797.3362|         52|      30.78|               1|     10797.3362|
| 23|  male|23.845|       0|    no|northeast| 2395.17155|         23|     23.845|               0|     2395.17155|
| 56|  male|  40.3|       0|    no|southwest|  10602.385|         56|       40.3|               0|      10602.385|
| 30|  male|  35.3|       0|   yes|southwest|  36837.467|         30|       35.3|               0|      36837.467|
+---+------+------+--------+------+---------+-----------+-----------+-----------+----------------+---------------+
only showing top 20 rows